h2 {
  text-align: center;
  margin-top: 50px;
}

.people_list {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;

  li {
    height: 50px;
    line-height: 50px;
  }

}
