<!-- 第一讲 -->
<!-- <app-news></app-news> -->
<!-- <app-home></app-home> -->
<!-- 第二讲 -->
<!-- <app-form></app-form>  -->
<!-- 第三讲 -->
<!-- <app-search></app-search>  -->
<!-- 第四讲 -->
<!-- <app-serve></app-serve>  -->
<!-- 第五讲 -->
<!-- <app-dom></app-dom>  -->
<!-- <app-transform></app-transform>  -->
<!-- 第六讲 -->
<!-- <app-parent></app-parent>  -->
<!-- <app-se-parent></app-se-parent> -->
<!-- 第七讲 -->
<!-- <app-lifecycle></app-lifecycle> -->
<!-- 第八讲 -->
<!-- <app-rxjs></app-rxjs> -->
<!-- 第九讲 -->
<!-- <app-http></app-http> -->
<!-- 第十讲 -->
<!-- <app-axios></app-axios> -->
<!-- 第十一讲 -->
<!-- <h2>声明式路由</h2>

<a [routerLink]="['/cycle']" routerLinkActive="active">生命周期函数</a>
<a routerLink='/http' routerLinkActive="active">HTTP模块</a>
<a [routerLink]="['/axios']" routerLinkActive='active'>axios模块</a>

<router-outlet></router-outlet> -->

<!-- 十二讲 get传参-->
<app-router></app-router>
<!-- <router-outlet></router-outlet> -->

<!-- 十三讲 动态路由传参-->
<app-routers></app-routers>
<router-outlet></router-outlet>